

.main-content-well, .main-content-well-side {
    min-height: 900px;
}

.clear {
    clear: both;
}

* {
    -webkit-box-sizing: border-box;
}

.hand {
    position: relative;
    /*display: block;*/
    /*clear:both;*/
}

.hand .card {
    float:left;
    margin: 5px;
    width:150px;
    height: 200px;

    border: 1px solid #483018;
    cursor: pointer;
}
.hand .card-back {
    float:left;
    margin: 5px;
    width:100px;
    height: 30px;

    border: 1px solid #483018;
}

.hand .card.focus {
    border: 3px solid #483018;
}

.hand .card .name{
    text-align: center;
}

.hand .card .unit, .hand .card .spell {
    text-align: center;
    border: 1px solid #483018;
    margin:2.5%;
    width:95%;
}
.hand .skipTurn {
    float:left;
    margin: 5px;
    width:150px;
    height: 200px;

    border: 1px solid #483018;
    cursor: pointer;
}
.order {
    position: relative;
    width:75px;
    clear: both;
}

.order .card {
    width:75px;
    height:75px;
    opacity: 0.7;
}
.order .card.focus, .order .card:hover {
    font-weight: bold;
    opacity: 1;
}

.field {
    width :601px;
    height: 601px;
    position: relative;
    display: block;
    clear:both;
    border-right: 1px solid #483018;
    border-bottom: 1px solid #483018;
}
.field .cell {
    /*margin: 1px;*/
    width:75px;
    height:75px;
    float:left;
    /*border: 1px solid #494949;*/
    /*border-radius: 3px;*/
    border-top: 1px solid #483018;
    border-left: 1px solid #483018;
    z-index: 10;
}

.field .cell.focus {
    cursor: pointer;
    background-color: #FFD416;
}

.field .unit {
    width: 75px;
    height: 75px;
    position: absolute;
    text-align: center;
    z-index: 25;
}
.field .unit .image {
    width: 75px;
    height: 75px;
    position: absolute;
    z-index:20;
}
.field .unit.enemy .image {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.field .unit.focus {
    font-weight: bold;
}
.field .unit.enemy-focus .middle-panel, .field .unit.focus .middle-panel, .field .unit:hover .middle-panel, .field .unit.hover .middle-panel {
    display: block;
}
.field .unit.focus .health-panel, .field .unit:hover .health-panel {
    opacity: 0.9;
}

.field .unit .skip {
    display: none;
    z-index:23;
    position: absolute;
}
.field .unit.focus .skip {
    display: inline;
}

.field .unit .middle-panel {
    width: 90%;
    text-align: center;
    color: #FFD416;
    background-color: #483018;
    position: absolute;

    bottom: 26px;
    left: 3px;

    opacity: 0.9;
    display: none;
    z-index:23;
}

.field .unit .keywords {

}

.field .unit .health-panel {
    position: absolute;
    bottom: 3px;
    left: 3px;
    z-index: 30;
    color:#FFD416;
    background-color: #483018;
    opacity: 0.6;
}

.field .unit .info {
    width: 16px;
    height: 20px;
    position:absolute;
    bottom: 3px;
    right: 3px;
}

.field .unit .damage {
    position: absolute;
    font-size: 40px;
    width: 100%;
    top:15px;
    text-align: center;
    color: red;
    font-weight: bold;
    z-index: 60;
}
.field .unit .damage.heal {
    color: green;
}
.field .unit .damage.armor {
    color: blue;
}

.field .object {
    width:75px;
    height:75px;
    position: absolute;
    z-index: 8;
}

.info-zone {

    width: 150px;
    height: 200px;
}

.info-zone .info-card {
    border: 1px solid #483018;
    display: none;
}

.tcg-message {
    position: absolute;
    background-color: #FFD416;
    padding: 8px;
}
#message-container {
    position: relative;
}