.clear{
    clear: both;
}

.btn {
    border: none;
    border-radius: 2px;
}
.btn-primary {
    background-color: #069E2D;
}
.btn-primary:hover {
    background-color: #067E1D;
}
.btn:hover{
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19);
}
.progress-bar-success {
    background-color:#069E2D;
}

body {
    background-color: #F3FCF0;
}

.sidebar-col {
    /*background-color: #abcdef;*/
    border:30px solid #529BCA;
    /*background-color: #529BCA;*/
    border-radius: 10px;
    margin-top: 20px;
    min-height: 560px;
    text-align: center;
}
.sidebar-on-start-buttons {
    width:85%;
    position: absolute;
    display: block;
    left:0;
    right:0;
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto;
}
.go-to-stats-button {
    margin-top: 155px;
}
.go-to-rredit{
    margin-top: 305px;
}

.turn-area {
    margin-top: 30px;
}
.game-area {
    position: relative;
    min-height: 602px;
}

#start-game {
    position: absolute;
    top: 100px;
    left:0;
    right:0;
    width:250px;
    height: 80px;
    margin:auto;
    line-height: 50px;
    font-size: 40px;
    font-weight: bold;
}
.question {
    min-height:560px;
}
.question .image.single-picture {
    width:600px;
    height: 337px;
    background-repeat: no-repeat;
    margin: 5px auto;
    background-color: #a6a6a6;
}
.single-picture-overlay {
    width:600px;
    height: 337px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 25;
}

div.answer {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    height:100px;
    text-align: center;
    cursor: pointer;
    color:#ffffff;
    text-shadow: 1px 1px #584D3D;
}
.answer .block {
    background-color: #529BCA;
    margin: 10px 0;
    height:80px;
    line-height: 80px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 2px;
}
div.answer.image{
    height:247px;
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: center;
}
.four-images-overlay {
    height:247px;
    width:100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: center;
    left:0;
}
.question .options {
    margin-top: 16px;
}

.options.names {
    min-height:200px;
    position: relative;
}

.question .name {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.question.four-images {
    padding: 0 10px;
}
.four-images .name span{
    background-color: #FFD416;
    padding: 5px;
    border-radius: 5px;
}
.name-options-second-row {
    margin-top: 7px;
}

.info-row {
    margin-bottom: 50px;
}
.points {
    margin-top:5px;
    height: 55px;
    background-color: #529BCA;
    border-radius: 10px;
    text-align: center;
    line-height: 55px;
    position: relative;
    color: #ffffff;
}
.points .points-amount {
    font-weight: bold;
    font-size: 20px;
    text-shadow: 1px 1px #584D3D;
}
.points .add-points{
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    color:#069E2D;
}
.points .points-amount .left, .points .points-amount .right{
    text-shadow: 0 0 #ffffff;
}

.timer .progress {
    width:100%;
    /*background-color: #483018;*/
    /*background-color: #F21616;*/
    background-color: #FF8360;
    margin-top:20px;
    overflow: visible;
}

.timer .progress-bar {
    position: relative;
}

.timer .seconds {
    position:absolute;
    right:-20px;
    top:-10px;
    width:40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    z-index: 30;
    color:#584D3D;
    /*background-color: #FFD416;*/
    background-color: #069E2D;
    border-radius: 5px;
}
.timer .seconds .text{
    font-weight: bold;
    font-size: 20px;
    /*color:#069E2D;*/
    color:#ffffff;
}



.ability-container {
    position: relative;
    height:100px;
    margin-top: 50px;
}
.ability {
    position: absolute;
    background-color: #069E2D;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    left:0;right:0;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    opacity: 0.2;
}
.ability:hover{
    background-color: #069E2D;
}

.first-50, .second-50 {
    position: absolute;

}
.second-50 {
    top: 47px;
    left:47px;
}
.ability:hover .second-50 {
    opacity: 0.3;
}
.diagonal-line-50 {
    left:6px;
    top:45px;
    width:90px;
    height: 6px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 3px;
    -moz-transform:    rotate(-35deg);
    -o-transform:      rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    -ms-transform:     rotate(-35deg);
    transform:         rotate(-35deg);
}
.ability:hover .diagonal-line-50{
    -moz-transform:    rotate(-55deg);
    -o-transform:      rotate(-55deg);
    -webkit-transform: rotate(-55deg);
    -ms-transform:     rotate(-55deg);
    transform:         rotate(-55deg);
}
.ability-2 {
    line-height: 88px;
}
.ability-2:hover{
    text-decoration: line-through;
}

@keyframes ilfate-ani {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@-o-keyframes ilfate-ani {
    0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); }
}
@-ms-keyframes ilfate-ani {
    0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); }
}
@-moz-keyframes ilfate-ani {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes ilfate-ani {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

.ability-3 {
    font-size:59px;
}
.ability-3 i{
    animation:         ilfate-ani 1s 0s infinite normal;
    -o-animation:      ilfate-ani 1s 0s infinite normal;
    -ms-animation:     ilfate-ani 1s 0s infinite normal;
    -moz-animation:    ilfate-ani 1s 0s infinite normal;
    -webkit-animation: ilfate-ani 1s 0s infinite normal;

            animation-play-state: paused;
         -o-animation-play-state: paused;
        -ms-animation-play-state: paused;
       -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
}
.ability-3:hover i {

    animation-play-state: running;
    -o-animation-play-state: running;
    -moz-animation-play-state: running;
    -webkit-animation-play-state: running;
}

/*.ability-3:hover{*/

    /*-moz-transform:    rotate(15deg);*/
    /*-o-transform:      rotate(15deg);*/
    /*-webkit-transform: rotate(15deg);*/
    /*-ms-transform:     rotate(15deg);*/
    /*transform:         rotate(15deg);*/
/*}*/

/* MODAL */
.points.points-modal {
    padding-top:100px;
    position: relative;
}
div.points-modal-text{
    font:inherit;
}
.modal-hidden{
    display: none;
    position: absolute;
}
.modal-hidden.left{
    left:-40px;
}
.modal-hidden.right{
    right:10px;
}
.points .btn {
    background-color: #ffffff;
    color:#529BCA;
    font-weight: bold;
}
.restart-button {
    line-height: 80px;
    font-weight: bold;
    font-size: 30px;
    /*display: none;*/
}
.stats-table {
    display: none;
    margin-bottom: 0;
}
.stats-table-title {
    text-align: center;
}
.stats-table-more-button {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 0 !important;
}
.stats-table-more-button a {
    /*color:#069E2D;*/
    font-weight: bold;
    font-size: 18px;
}
.facebook-like-hidden {
    display: none;
}
.facebook-placeholder {
    padding: 20px 20px 0 20px;
    background-color: #069E2D;
}


/* STATS */

.stats-page .side-panel {
    min-height: 540px;
    background-color: #529BCA;
    border-radius: 5px;
    margin-top: 5px;
}
.stats-page .middle-panel {
    /*min-height: 515px;*/
    /*background-color: #529BCA;*/
    border-radius: 5px;
    border: 15px solid #529BCA;
    margin-top: 20px;
    position: relative;
}
.stats-page .middle {
    min-height: 540px;
}
.stats-page .middle-controls {
    padding-top: 10px;
}
.stats-page .middle-controls .fb {
    margin-top:10px;
}
.stats-page .row > .middle {
    text-align: center;
}
.back-to-game-button {
    margin-top: 5px;
    font-weight: bold;
    font-size: 20px;
}

.hardest-image-title {
    padding-top: 15px;
    text-align: center;
    color:#529BCA;
    font-weight: bold;
    font-size: 20px;
}
.hardest-image {
    width:100%;
    margin-top:2%;
}
.stats-page .table{
    color:#ffffff;
}
.table-title {
    text-align: center;
    font-size: 20px;
}
.stats-page .side-panel .table-striped>tbody>tr:nth-child(odd)>td, .stats-page .side-panel .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #428BBA;
}
.stats-page .free-description {
    border-radius: 5px;
    border: 15px solid #529BCA;
    margin-top: 20px;
    min-height: 200px;
}

/*  ADMIN */

.series-block {
    margin:5px;
    padding:10px;
    float:left;
    background-color: #529BCA;
    border-radius: 5px;
    color:#ffffff;
}
.series-block h4 a{
    font-weight: bold;
    font-size: 36px;
    color: #ffffff;
}
.series-block .disabled {
    color:#FF8360;
}
.series-difficulty-block  .dz-default, .series-block .dz-default{
    display: none;
}
.series-difficulty-block {
    min-height: 300px;
    min-width: 600px;
    background-color: #c4c2d6;
    border-radius: 20px;
    display: block;
    position: relative;
}
.admin-series-image {
    width:300px;
}
.admin-series-image:active {
    width:600px;   
}


/* COLOR PALLETE */

.color-pallete {
    color:#069E2D;
    /*color:#399E5A;*/
    color: #529BCA;
    color:#FF8360;
    color:#ABCDEF;
    color:#584D3D; /*black*/
    color:#EF8354; /* orange */

}