
.turn-area {
    margin-top: 30px;
}

.image.single-picture {
    width:540px;
    height: 303px;
}

div.answer {
    height:100px;
    text-align: center;
    line-height: 100px;
}
div.answer.image {
    height:303px;
}

.question .name {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.timer {
}
.timer .progress {
    width:100%;
    background-color: #483018;
    
    overflow: visible;
}

.timer .progress-bar {
    position: relative;
}

.timer .seconds {
    position:absolute;
    right:-20px;
    top:-10px;
    width:40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    z-index: 30;
    color:#000000;
    background-color: #FFD416;
    border-radius: 5px;
}