.clear{
    clear: both;
}

.btn {
    border: none;
    border-radius: 2px;
}
.btn:hover{
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19);
}
.progress-bar-success {
    background-color:#069E2D;
}

.sidebar-col {
    background-color: #abcdef;
    border-radius: 10px;
    margin-top: 20px;
    min-height: 542px;
}

.turn-area {
    margin-top: 30px;
}
.game-area {
    position: relative;
    min-height: 602px;
}

#start-game {
    position: absolute;
    top: 100px;
    left:0;
    right:0;
    width:250px;
    height: 80px;
    margin:auto;
    line-height: 50px;
    font-size: 40px;
    font-weight: bold;
}
.question {
    min-height:542px;
}
.question .image.single-picture {
    width:600px;
    height: 337px;
    background-repeat: no-repeat;
    margin: 5px auto;
    background-color: #a6a6a6;
}

div.answer {
    height:100px;
    text-align: center;
    cursor: pointer;
}
.answer .block {
    background-color: #abcdef;
    margin: 10px 0;
    height:80px;
    line-height: 80px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 2px;
}
div.answer.image{
    height:247px;
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: center;
}
.options.names {
    min-height:200px;
    position: relative;
}

.question .name {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.info-row {
    margin-bottom: 50px;
}
.points {
    margin-top:5px;
    height: 55px;
    background-color: #abcdef;
    border-radius: 10px;
    text-align: center;
    line-height: 55px;
    position: relative;
}
.points .points-amount {
    font-weight: bold;
    font-size: 20px;
}
.points .add-points{
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    color:#069E2D;
}

.timer .progress {
    width:100%;
    /*background-color: #483018;*/
    /*background-color: #F21616;*/
    background-color: #FF8360;
    margin-top:20px;
    overflow: visible;
}

.timer .progress-bar {
    position: relative;
}

.timer .seconds {
    position:absolute;
    right:-20px;
    top:-10px;
    width:40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    z-index: 30;
    color:#000000;
    /*background-color: #FFD416;*/
    background-color: #069E2D;
    border-radius: 5px;
}
.timer .seconds .text{
    font-weight: bold;
    font-size: 20px;
    /*color:#069E2D;*/
    color:#ffffff;
}



.ability-container {
    width:100px;
    position:absolute;
    margin: 0 auto;
    left:0;
    right:0;
}
.ability {
    /*display: none;*/
    background-color: #069E2D;
    width: 100px;
    height: 100px;
    margin-top: 50px;
    float: left;
    position: relative;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
.ability:hover{
    background-color: #069E2D;
}

.first-50, .second-50 {
    position: absolute;

}
.second-50 {
    top: 47px;
    left:47px;
}
.ability:hover .second-50 {
    opacity: 0.3;
}
.diagonal-line-50 {
    left:6px;
    top:45px;
    width:90px;
    height: 6px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 3px;
    -moz-transform:    rotate(-35deg);
    -o-transform:      rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    -ms-transform:     rotate(-35deg);
    transform:         rotate(-35deg);
}
.ability:hover .diagonal-line-50{
    -moz-transform:    rotate(-55deg);
    -o-transform:      rotate(-55deg);
    -webkit-transform: rotate(-55deg);
    -ms-transform:     rotate(-55deg);
    transform:         rotate(-55deg);
}
.ability-2 {
    line-height: 88px;
}
.ability-2:hover{
    text-decoration: line-through;
}

/*@keyframes ilfate-ani {*/
    /*0% { transform: rotate(360deg); }*/
    /*100% { transform: rotate(0deg); }*/
/*}*/
/*@-o-keyframes ilfate-ani {*/
    /*0% { transform: rotate(360deg); }*/
    /*100% { transform: rotate(0deg); }*/
/*}*/
/*@-ms-keyframes ilfate-ani {*/
    /*0% { transform: rotate(360deg); }*/
    /*100% { transform: rotate(0deg); }*/
/*}*/
/*@-moz-keyframes ilfate-ani {*/
    /*0% { transform: rotate(360deg); }*/
    /*100% { transform: rotate(0deg); }*/
/*}*/
/*@-webkit-keyframes ilfate-ani {*/
    /*0% { transform: rotate(360deg); }*/
    /*100% { transform: rotate(0deg); }*/
/*}*/
.ability-3 {
    font-size:60px;

    /*animation: spin 2s 0s infinite linear reverse;*/
    /*-o-animation: spin 2s linear 0s infinite reverse;*/
    /*-ms-animation: spin 2s linear 0s infinite reverse;*/
    /*-moz-animation: 2s linear 0s reverse none infinite spin;*/
    /*-webkit-animation: spin 2s linear 0s infinite reverse;*/

    /*animation:         ilfate-ani 2s 1s infinite alternate;*/
    /*-o-animation:      ilfate-ani 2s 1s infinite alternate;*/
    /*-ms-animation:     ilfate-ani 2s 1s infinite alternate;*/
    /*-moz-animation:    ilfate-ani 2s 1s infinite alternate;*/
    /*-webkit-animation: ilfate-ani 2s 1s infinite alternate;*/

    /*animation-play-state: paused;*/
    /*-o-animation-play-state: paused;*/
    /*-ms-animation-play-state: paused;*/
    /*-moz-animation-play-state: paused;*/
    /*-webkit-animation-play-state: paused;*/
}
.ability-3:hover {
    /*animation-play-state: running;*/
    /*-o-animation-play-state: running;*/
    /*-moz-animation-play-state: running;*/
    /*-webkit-animation-play-state: running;*/
}

/*.ability-3:hover{*/

    /*-moz-transform:    rotate(15deg);*/
    /*-o-transform:      rotate(15deg);*/
    /*-webkit-transform: rotate(15deg);*/
    /*-ms-transform:     rotate(15deg);*/
    /*transform:         rotate(15deg);*/
/*}*/

/* MODAL */
.points.points-modal {
    padding-top:100px;
    position: relative;
}
div.points-modal-text{
    font:inherit;
}
.modal-hidden{
    display: none;
    position: absolute;
}
.modal-hidden.left{
    left:-40px;
}
.modal-hidden.right{
    right:10px;
}
.points .btn {
    background-color: #ffffff;
    color:#428bca;
}
.restart-button {
    line-height: 80px;
    font-weight: bold;
    font-size: 30px;
    display: none;
}

/*  ADMIN */

.series-block {
    margin:5px;
    padding:10px;
    float:left;
    background-color: #245269;
    border-radius: 5px;
    color:#ffffff;
}
.series-block h4{
    font-weight: bold;
    font-size: 36px;
}
.series-block .dz-default{
    display: none;
}

.color-pallete {
    color:#069E2D;
    color:#FF8360;
    color:#ABCDEF;

}